body{
    /*font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;*/
    font-family:liSu;
    font-size: 23px;
    overflow: hidden;
    height:100%;
}
html{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
}
header, footer{flex: none;}
#content-wrapper{flex:auto;}
header a.button{
    top:-20px;
    font-family:YouYuan;
}
header,footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family:YouYuan;
}
footer{
    justify-content: center;
    background-color:#ddd;
}
#content-wrapper{
    overflow: auto;
   height: 100%;
}
.inner{
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
    justify-content: space-around;
}
